* {
    padding: 0;
    margin: 0;
}

/* setting wrapper to 100 vw so nothing goes beyon the edge of the screen */
.wrapper {
    width: 100vw;
}

/* setting parallax image and giving landing screen 100vh */
.screen-cover-parallax {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(./img/logicPics/img-2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

/* Placing header items at top of screen and attempting to give them a sticky position */
.header {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    width: 100%;
    position: sticky;
    top: 3%;
}


/* Styling the logo */
.header-logo {
    grid-column: 1 / 3;
    background: radial-gradient(rgba(51, 51, 51, 0.315) 10%, rgba(153, 153, 153, 0.199) 20%, rgba(255, 0, 0, 0) 70%);
    cursor: pointer;
    filter: drop-shadow(3px 3px 9px rgba(119, 161, 185, 0.699));
}

#option-1 {
    transition: .2s;
}

#option-1:hover {
    filter: invert(100) drop-shadow(3px 3px 4px #444);
}


/* Creating the menu button elements */
.menu-1, .menu-2, .menu-3, .menu-4 {
    height: 5px;
    width: 40px;
    background-color: #222;
    border-radius: 2px;
    margin: 3px 2px;
    transition: .3s;
}

.header-menu {
    grid-column: 10 / 11;
    margin: 25% 0;
    cursor: pointer;
    filter: drop-shadow(3px 3px 4px rgba(85, 85, 85, 0.733));
}

.header-menu:hover > #ccoh {
    background-color: whitesmoke;
}

/* Animating the menu button */
.change .menu-1 {
    -webkit-transform: rotate(45deg) translate(9px, 8px) ;
    transform: rotate(45deg) translate(9px, 8px);
    background-color: whitesmoke;
}
    
.change .menu-2 {
    opacity: 0;
}
    
.change .menu-3 {
    opacity: 0;
}
    
.change .menu-4 {
    -webkit-transform: rotate(-45deg) translate(9px, -9px);
    transform: rotate(-45deg) translate(9px, -9px);
    background-color: whitesmoke;
}
    

/* Styling the quote and placing it on the site. */
.logic-quote {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-size: 4em;
    font-weight: 100;
    line-height: 1em; 
    padding: 5%;
    color: rgb(0, 0, 0);
}

#toggle {
    display: none;
    position: fixed;
    top: 20%;
    left: 0%;
    width: 95vw;
    height: 75vh;
    background-color: rgba(58, 58, 58, 0.041);
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
    filter: drop-shadow(2px 2px rgb(0, 0, 0));
    z-index: 1;
}


.logic-quote > p {
    text-align: center;
    padding-top: 2%;
    padding-right: 5%;
    filter: drop-shadow(0 0 5px #666);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    z-index: 1;
}

#q-mark {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    padding-top: 3%;
    color: rgb(255, 255, 255);
}

/* Styling the biography section of the site */


.screen-cover-bio {
    width: 100%;
    height: fit-content;
    background-color: rgb(0, 0, 0);
    z-index: 3 ;
    position: relative;
    border-top: 1px solid #777;
    background: url(./img/logo-1.png);
    background-size: 11%;
    background-repeat: round;
    box-shadow: 9px 9px 8px #333;
}


.bio-main {
    width: fit-content;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 6% 0 7% 0;
    padding: 2%;
    box-shadow: 0 0 30px #000 inset;
    filter: sepia(30%);
}

.bio-header {
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
    letter-spacing: -3px;
    font-size: 4em;
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    padding: 1% 2%;
    width: fit-content;
    height: fit-content;
    position: relative;
    text-shadow: 6px 3px 3px rgb(49, 49, 49);
    background-color: rgba(255, 34, 34, 0.87);
    border-radius: 25px 0 25px 0;
    box-shadow: 5px 5px 5px #222;
    font-style: italic;
}

.bio-main > a {
    text-decoration: none;
}

.bio-body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    text-indent: 2em;
    text-shadow: 1px 1px 4px #444;
    text-align: justify;
    padding: 2%;
    margin: 2% 8% 2% 8%;
    color: rgb(53, 53, 53);
    width: 80%;
    background-color: rgba(255, 255, 255, 0.849);
    border-radius: 0 25px 0 25px;
    box-shadow: 7px 8px 5px #222 inset;
}

.slide {
    display: block;
}

/*  Styling the album slider */
.page-slider-container {
    display: grid;
    grid-template-columns: 10% repeat(10, 8%) 10%;
    background: linear-gradient(45deg, rgb(138, 138, 138), rgb(180, 180, 180));
    background-attachment: fixed;
    height: 94vh;
    padding-top: 3%;
    padding-bottom: 3%;
}

/* Styling the left third of the slider (top-left = album cover, bottom-left: icons */
.slide-left {
    grid-column: 2 / 5;
    height: 90%;
    margin-top: 9%;
}

/* albumn cover */
.album-cover > img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 9px 8px 7px #444;
    position: relative;
}

/* Next/Prev buttons */
.slide-top-left {
    border-radius: 15px 0 0 15px;
    position: relative;
}

/* Prev button */
.arrow-left {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: rgba(53, 53, 53, 0.582);
    background: linear-gradient(-90deg, rgba(53, 53, 53, 0.8), transparent);
    transform: rotate(180deg);
    outline: none;
    border: none;
    border-radius: 0 15px 15px 0;
    z-index: 15;
    opacity: 0;
}

/* Next arrow */
.arrow-right {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    background-color: rgba(53, 53, 53, 0.582);
    background: linear-gradient(-90deg, rgba(53, 53, 53, 0.8), transparent);
    outline: none;
    border: none;
    border-radius: 0 15px 15px 0;
    z-index: 15;
    opacity: 0;
}

.arrow:hover {
    opacity: 1;
    transition: .3s;
}

/* media-icons */
.slide-bottom-left {
    height: 40vh;
    width: 100%;
    background-color: transparent;
    position: relative;
}

.icon-list {
    width: 57%;
    height: fit-content;
    background-color: rgb(92, 92, 92);
    border-radius: 25px;
    box-shadow: 9px 8px 7px #444 inset;
    padding: 5%;
    margin: 6% auto;
}

.icon-button {
    background-color: transparent;
    width: 80px;
    height: 80px;
    outline: none;
    border: none;
    background-position: center;
    background-size: 80px 80px;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 20px; 
    margin: 5%;
    transition: .1s;
}

.icon-button:hover {
    filter: drop-shadow(7px 2px 3px #222);
}

/* Button when active */
.icon-button:focus {
    filter: drop-shadow(2px 2px #222);
    transform: translate(7px);
}

/* All of the icons */
.spfy-button {background-image: url(./img/mediaIcons/spfy-dark.png)}
.yt-button {background-image: url(./img/mediaIcons/yt-dark.png)}
.instgrm-button {background-image: url(./img/mediaIcons/instgrm-dark.png)}
.schat-button {background-image: url(./img/mediaIcons/schat-dark.png)}


/* All of the icons when hovering over */ 
.spfy-button:hover {background-image: url(./img/mediaIcons/spfy-hover.png)}
.yt-button:hover {background-image: url(./img/mediaIcons/yt-hover.png)}
.instgrm-button:hover {background-image: url(./img/mediaIcons/instgrm-hover.png)}
.schat-button:hover {background-image: url(./img/mediaIcons/schat-hover.png)}

/* All of the icons when button is active */
.spfy-button:focus {background-image: url(./img/mediaIcons/spfy-hover.png)}
.yt-button:focus {background-image: url(./img/mediaIcons/yt-hover.png)}
.instgrm-button:focus {background-image: url(./img/mediaIcons/instgrm-hover.png)}
.schat-button:focus {background-image: url(./img/mediaIcons/schat-hover.png)}

.icon {
    height: 35px;
    list-style: none;
    position: relative;
    background-color: aquamarine;
}

.button {
    position: relative;
    width: 24%;
    background-color: rgb(83, 82, 82);
    border: none;
    border-radius: 5px;
    z-index: 1;
    margin: 10%;
}




/* Styling the middle portion of the slider (top-middle = album name, bottom-middle = album description) */
.slide-middle {
    grid-column: 5 / 12;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    height: fit-content;
    width: 97%;
    background-color: rgba(61, 61, 61, 0.788);
    margin-top: 5%;
    margin-left: 6%;
    padding: 3%;
    margin-top: 6%;
    border-radius: 40px;
    box-shadow: 5px 5px 7px #444 inset;
    width: fit-content;
}

.album-name {
    grid-column: 2 / 10;
    height: fit-content;
    width: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-style: oblique;
    background-color: rgb(228, 76, 76);
    color: whitesmoke;
    border-radius: 20px;
    box-shadow: 5px 5px 3px #222;
    text-shadow: 2px 3px 3px #333;
    padding: 3%;
}

.album-desc {
    grid-column: 1 / 6;
    margin-top: 5%;
    height: fit-content;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1;
    font-weight: 100;
    text-decoration: none;
    color: rgb(235, 235, 235);
    text-shadow: 2px 2px 4px #000;
    box-shadow: 5px 5px 3px #222;
    text-align: justify;
    background-color: rgb(46, 46, 46);
    border-radius: 15px;
    padding: 6%;
}


#spotify {
    grid-column: 7 / 11;
    width: 100%;
    height: 95%;
    border-radius: 0 15px 15px 15px;
    box-shadow: 5px 5px 7px #444;
    margin-top: 5%;
}

.icon-ref {
    width: 100%;
    height: 20vh;
    background-color: #222;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .7em;
    text-align: center;
    padding-top: 2%;
}